<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="https://cbgw.stb.nonobank.com/stb1/rig-app/api/resetPassword" method="post"
      <p>customerId<input name="customerId" type="text"> </p>
      <p>userName<input name="userName" type="text"> </p>
      <p>mobile<input name="mobile" type="text"> </p>
      <p>platformType<input name="platformType" type="text"> </p>
      <p>cardNo<input name="cardNo" type="text"> </p>
      <p>cardType<input name="cardNo" type="text"> </p>

      <p>successUrl<input name="successUrl" type="text"> </p>
      <p>failUrl<input name="failUrl" type="text"> </p>
<p><button type="submit"></button></p>



</body>
</html>